/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

body{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #111;
    font-size: 14px;
    line-height: 1.29;
}

.container{
    max-width: 1136px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    color: #111;
}

.logo:hover,
.logo:active,
.logo:focus{
    color: #111; 
}

.navigation-list-item{
    line-height: 1.14;
    color: #111;
}

.navigation-list-item:hover,
.navigation-list-item:active,
.navigation-list-item:focus {
    color: #111;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 24px;
    margin-bottom: 34px;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.first-section-container{
    padding-top: 381px;
    padding-left: 40px;
    border-radius: 30px;
    background-color: rgba(17, 17, 17);
    background-image: url(../images/first-section-background.jpg);
    background-size: cover;
}

.hero-headline{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin-bottom: 32px;
    width: 484px;

}

.buttons{
    display: flex;
    gap: 14px;
    align-items: baseline;
}

.first-button{
    padding: 14px 40px;
    border-radius: 100px;
    background: #FD9222;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
}

.first-section-buttons{
    display: flex;
    gap: 585px;
}

.making-button{
    color: #FFF;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px;
}

.footer-button{
    color: #FFF;
}
