/* Стилі для обнулення верхніх відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
    text-decoration: none;
}

/* Властивості для коректного відображення картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Властивості для обнулення курсиву address */
address {
    font-style: normal;
}

body{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #111;
    font-size: 14px;
    line-height: 1.29;
}

.container{
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    color: #111;
}

.logo:hover,
.logo:active,
.logo:focus{
    color: #111; 
}

.navigation-icons{
   display: flex;
   gap: 90px;
}

.navigation-list-item{
    line-height: 1.14;
    color: #111;
}

.navigation-list-item:hover,
.navigation-list-item:active,
.navigation-list-item:focus {
    color: #111;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 24px;
    margin-bottom: 34px;
}

.navigation-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.socials-list{
   display: flex;
   gap: 18px;
}

.socials-icon-container{
   background-color: #FAFAFA;
}

.socials-icon{
   stroke: #111111;
   fill:none;
}

.socials-icon:hover{
   stroke: #fd9222;
}

.first-section-container{
    padding-top: 381px;
    padding-left: 40px;
    border-radius: 30px;
    background-color: rgba(17, 17, 17);
    background-image: linear-gradient(
        to bottom,
        rgba(17, 17, 17, 0.40),
        rgba(17, 17, 17, 0.40)
    ),
    url(../images/first-section-background.jpg);
    background-size: cover;
    margin-bottom: 72px;
}

.hero-headline{
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    margin-bottom: 32px;
    width: 484px;

}

.buttons{
    display: flex;
    gap: 14px;
    align-items: baseline;
    font-size: 500;

}

.first-button{
    padding: 14px 40px;
    border-radius: 100px;
    background: #FD9222;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    margin-bottom: 40px;
    box-shadow: none;
}

.first-button:hover{
    background: #FCF1E0;
    color: #FD9222;
}

.first-section-buttons{
    display: flex;
    gap: 585px;
}

.making-button{
    color: #FFF;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px;
}

.making-button:hover{
    border: 1px solid #FD9222;
    color: #FD9222;
}

.footer-button{
    color: #FFF;
    display: flex;
    gap: 14px;
    align-items: center;
}

.icon-elips{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   background-color: #FFFFFF;
}

.scroll-icon{
   fill: #FD9222;
}

.footer-button:hover {
    color: #FD9222;
}

.footer-button:hover .icon-elips{
   background-color: #FD9222;
}

.footer-button:hover .scroll-icon{
   fill: #FFFFFF;
}

.second-section{
    background-color: #1E1823;

}

.second-section-container{
    color: #FFF;
    padding-top: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
}

 .second-section-list-item{
    width: calc((100% - 140px) / 3);
    margin-bottom: 68px;

 }

 .second-section-icon-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 62px;
   height: 62px;
   border-radius: 365px;
   border: 1px solid rgba(255, 255, 255, 0.50);
   margin-bottom: 22px;
 }
 .second-section-list-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 18px;
 }

 .second-section-list-content{
    color: rgba(255, 255, 255, 0.70);
 }

 .third-section{
    padding-top: 100px;
 }

 .third-section-headline{
    font-size: 24px;
    line-height: 1.16;
    font-weight: 600;
    text-align: center;
    width: 411px;  
    letter-spacing: -0.72px;
    margin: 0 auto 28px;
 }

 .orange-headline-part{
    color: #FD9222;
 }

 .third-section-content{
    text-align: center;
    letter-spacing: -0.28px;
    line-height: 1.28;
    margin: 0 auto 50px;
    width: 486px;
 }

 .chocolate-card{
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    background-color: #FD9222;
 }

 .milk-card{
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    border: 1px solid #FD9222;
    background-color: #FFF;
 }

 .hazelnut-card{
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    background-color: #1E1823;
 }

 .coffee-card{
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
    border: 1px solid #FD9222;
    background: #FFF;
 }

 .third-section-list{
    display: flex;
    gap: 19px;
    flex-wrap: wrap;
    margin-bottom: 100px;
 }

 .ingredient-card{
    width: calc((100% - 57px) / 4);
 }

 .forth-section-headline{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.16;
    font-weight: 600;
    margin: 0 auto 50px;
    text-align: center;
 }

 .forth-section-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 100px;
 }

 .forth-section-text-content{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 28px
 }

 .forth-section-content-headline{
    width: 350px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
 }

 .forth-section-list-item{
    padding: 8px;
    letter-spacing: -0.28px;
 }

 .forth-section-list-item:not(:last-child){
    margin-bottom: 24px;
 }

 .fifth-section-headline{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.16;
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin: 0 auto 50px;
 }

 .flex-list{
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    margin-bottom: 50px;
 }

 .flex-list-item{
    width: calc((100% - 56px) / 3);
 }

 .rewiew-img{
    width: 80px;
    margin: 0   auto -38px;
 }

 .rewiew-content{
    width: 100%;
    padding: 56px 24px 0;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
 }

 .rewiew-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    margin: 0 auto 24px;
 }

 .rewiew-text{
    color: rgba(17, 17, 17, 0.70);
    text-align: center;
    line-height: 1.28;
    letter-spacing: -0.28px;
    margin-bottom: 24px;
    height: 72px;
 }

 .fifth-section-button{
    display: flex;
    justify-content: center;
 }

 .rewiew-button{    
    margin: 0 auto 100px;
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFF;
 }

 .rewiew-button:hover{
    background-color: #FD9222;
    color: #FFF;
 }

 .footer{
    background-color: #1E1823;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 50px;
 }


 .footer-flex-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 54px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }

 .footer-slogan{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.56px;
    width: 300px;
 }

 .slogan-orange-part{
    color: #FD9222; 
 }

 .contact-flex-container{
    display: flex;
    flex-direction: column;
    gap: 14px;
 }

 .address-flex-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
 }

 .address-link{
    color: #FFF;
 }

.contact-title{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
}

.navigation-list-item.footer{
    padding: 0;
    color: #FFF;
}

.footer-section-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.subscribe-container{
    display: flex;
    gap: 8px;
}

input{
    padding: 14px 24px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: #1E1823;
    color: rgba(255, 255, 255, 0.30);
    font-size: 18px;
    letter-spacing: -0.36px;
}

.subscribe-button{
    padding: 17px 40px;
    border-radius: 100px;
    background-color: #FD9222;
    color: #FFF;
    font-weight: 600;
    box-shadow: none;
}



